.wrappers {
    width: 100%;
    border-radius: 5px;
}

.edge {
    border: 1.3px solid rgb(189, 186, 186);
}

.card-img-top {
    border-radius: 0px 0px 30px 0px;
    padding: .5px 0px 0px 0px;
}

.card {
    border-radius: 0px 0px 0px 0px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.card-title {
    line-height: 15px;
    font-size: 16px;
    font-weight: bold;
}

.card-body {
    height: 160px;
    padding: 20px;
}

.pricing {
    display: flex;
    justify-content: space-between;
    font-size: 7px
}

.pricing p {
    font-size: 15px;
    font-weight: bold;
}

.pricing h1 {
    font-size: 10px
}

.pricing-detail {
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.stars {
    line-height: 8px;
}

.stars i {
    font-size: 10px;
}

.rated {
    color: #ffcc00;
}

.x-notif {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    font-size: 30px;
    font-weight: bolder;
    color: rgba(62, 62, 62, 0.483);
    text-transform: uppercase;
}

/* category button */
.category {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.category button {
    padding: 5px 8px;
    font-size: 15px;
    color: rgb(255, 253, 253);
    border: .5px solid silver;
    background-color: rgb(255, 110, 20);
    border-radius: 50px;
}


.category button:hover {
    color: white;
    background-color: rgb(235, 81, 35);
}

/* end category button */

/* breakpoints */
@media (width <=768px) {
    .card {
        margin: 10px !important;
    }

    .card-body {
        height: 250px !important;
        padding: 30px 40px !important;
    }

    .card-title {
        line-height: 25px !important;
        font-size: 20px !important;
    }

    .stars {
        padding: 10px 0px;

    }

    .stars i {
        line-height: 15px;
        font-size: 15px !important;
        height: 10px;
    }

    .pricing-detail {
        height: 20px;
        font-size: 12px !important;
    }

    .pricing p {
        font-size: 22px !important;
    }

    .pricing h1 {
        font-size: 15px !important;

    }
}

@media (width <=992px) {
    .card {
        margin: 5px;
    }

    .card-title {
        line-height: 3px;
        font-size: 20px;
    }

    .stars {
        padding: 5px 0px;
    }

    .stars i {
        font-size: 13px;
    }

    .pricing-detail {
        font-size: 10px;
    }

    .pricing p {
        font-size: 15px;
    }

    .pricing h1 {
        font-size: 10px;
    }

    .card-body {
        height: 150px;
        padding: 20px 20px;
    }

    .btn-product {
        height: 30px;
        width: 40% !important;
    }

    .btn-product span {
        font-size: 13px;
        color: #FFFFFF;
    }
}

@media (width <=1200px) {
    .card-title {
        line-height: 7px;
        font-size: 14px;
        margin-bottom: 10px;
    }

    .stars i {
        line-height: 2px;
        font-size: 10px;
        margin-bottom: 5px;
    }

    .pricing-detail {
        font-size: 7.5px;
    }

    .pricing p {
        font-size: 10px;
    }

    .pricing h1 {
        font-size: 8px;
    }

    .card-body {
        height: 145px;
        padding: 15px calc(100%-20px);
    }
}

/* end breakpoints */